* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #424242;
    border-right: 6px solid #6DE1C2;
}

.wrap {
    width: 100%;
    min-height: 40%;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 10px 5px 5px 5px;
    text-align: center;
}

header {
    max-width: 70%;
    margin: 0 auto;
}

header .desktop_text {
    display: none;
}

h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 7px;
    line-height: 32px;
}

h1 span {
    color: #6DE1C2;
}

form {
    margin: 20px auto 0;
}

form input {
    display: block;
    margin: 0 auto;
    width: 95%;
    min-height: 45px;
    border-top: none;
    border-right: none;
    border-left: none;
    padding-left: 15px;
    border-bottom: 1px solid grey;
}

form input:focus {
    outline: none;
    border-bottom: 1px solid #000;
}

form input:not(:last-child) {
    margin-bottom: 10px;
}

form .container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

form .container input[placeholder="City"] {
    flex: 2;
}

form .container input[placeholder="Postcode"] {
    flex: 1;
}

form .container input {
    margin-bottom: 0;
}

.upload_file label {
    width: 95%;
    min-height: 70px;
    border: 1px dashed #424242;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.file_input {
    display: none;
}

.upload_file span {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.upload_description {
    width: 95%;
    margin: 5px auto 0;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    text-align: left;
}

form .checkbox {
    width: 95%;
    min-height: 20px;
    text-align: left;
    margin: 15px auto 0;
}

form .checkbox #checkbox {
    display: inline-block;
    height: 15px;
    width: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

form .checkbox label {
    font-family: 'Inter', sans-serif;
    display: inline-block;
    font-size: 10px;
    color: #383C3E;
    vertical-align: middle;
    line-height: 1;
}

.submit {
    width: 70%;
    min-height: 30px;
    margin: 10px auto 0;
    background-color: #0982FE;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 16px 10px;
    border-bottom: none;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

#contact {
    width: 75%;
    margin: 20px auto 0;
    text-align: left;
}

.contact img {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 10px;
}

.contact .contact_info {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
}

.contact .contact_info h3 {
    text-transform: uppercase;
    color: #000000;
}

.contact .contact_info a {
    display: block;
    color: #DD5471;
    text-decoration: none;
}

.contact_helpdesk .contact_info a {
    text-decoration: underline;
}

.footer {
    min-height: 200px;
    background-image: url(../img/map.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: left;
    margin: 10px auto 0;
    position: relative;
}

.footer .address {
    width: 40%;
    min-height: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 5%;
    padding: 15px 15px 20px 15px;
}

.footer .wrap-map .map-photo {
    display: none;
}

.footer .address a {
    color: #0982FE;
    font-size: 13px;
    text-decoration: none;
}

.footer .address a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    #contact {
        display: flex;
        justify-content: center;
        gap: 20px;
        width: 90%;
        padding-bottom: 20px;
    }

    .contact {
        display: flex;
        width: calc(33.333333% - 15px);
        align-items: center;
        gap: 10px;
    }

    .contact_helpdesk {
        margin-left: 15px;
    }

    .footer {
        min-height: 350px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wrap {
        max-width: 600px;
        margin: 0 auto;
    }
}



@media screen and (min-width: 1024px) {
    body {
        width: 100%;
        min-height: 100vh;
        background-color: #CFDBE4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        border-right: none;
    }

    .wrap {
        width: 100%;
        max-width: 1200px;
        min-height: 700px;
        display: flex;
        border-radius: 50px;
        overflow: hidden;
        background-color: #fff;
        text-align: left;
        padding: 0;
    }

    header {
        margin: 0;
        max-width: 75%;
    }

    .left_side {
        text-align: left;
        padding: 30px 60px 20px 60px;
        flex: 1.5;
    }

    header h1 {
        font-size: 42px;
    }

    header .desktop_text {
        text-align: left;
        font-size: 14px;
    }

    header .mobile_text {
        display: none;
    }

    .right_side .address {
        max-width: 45%;
        min-height: 60px;
    }

    form {
        margin-top: 30px;
    }

    form input {
        margin: 0;
    }

    #contact {
        width: 100%;
    }

    form .container {
        margin: 0;
    }

    .right_side {
        height: auto;
        background-image: none;
        background-color: #6DE1C2;
        position: relative;
        border-radius: 0 50px 50px 0;
        padding: 0;
        margin: 0;
        flex: 1.2;
    }

    .wrap-map {
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);

    }

    .map-photo {
        display: block !important;
        width: 470px;
        height: 700px;
    }

    .submit {
        width: 95%;
    }

    header .desktop_text {
        display: inline;
    }

    h1 {
        margin-bottom: 10px;
    }

    form {
        margin-top: 10px;
    }

}
